* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px !important;
    height: 100%;
}

body {
    height: 100%;
    background-color: #e6ecf0 !important;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin: 0 auto;
}

.main {
    margin-top: 34px;
}

.col {
    display: inline-block;
}

.col-all {
    display: inline-block;
}

.dib {
    display: inline-block;
}

.dib-all>* {
    display: inline-block;
}

.db {
    display: block;
}

.db-all>* {
    display: block;
}

/* 鼠标手势 */

.cp {
    cursor: pointer;
}

.cp-all>* {
    cursor: pointer;
}

/* 文字排版 */

.tac {
    text-align: center
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.cf::before,
.cf::after {
    content: "";
    clear: both;
}

/* hover公共样式 */

.cl-hv:hover {
    color: #2db7f5;
}

.cl-hv-all>*:hover {
    color: #2db7f5;
}

.cl-act {
    color: #2db7f5;
}

/* 卡片下间距 */
.card-mgb {
    margin-bottom: 15px;
}

/* 带文字的图片右间隔 */
.icon-mgr {
    font-style: normal;
    margin-right: 4px;
}


/* 关注、粉丝，类名待修改 */

.user-atten li {
    padding: 0 16px;
    border-right: 1px solid #ccc;
}

.user-atten li:last-child {
    border: 0;
}
