* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.1;
}


/* iview 样式重置 */

/* config 全局*/

.ivu-menu::after {
    height: 0 !important;
}

/* config end 全局结束*/

/* Home 首页*/

.weibo-nav-card.ivu-card .ivu-card-body {
    padding: 7px 16px;
}

/* Home end 首页结束*/

/* 私信对话框 */

.chat-container .ivu-modal-body {
    padding: 30px 0 0 0;
}
